body{
    background-color:antiquewhite;
    width: calc(100vh - 60px);
    margin:auto;
    border: groove;
}
h1, h2{
    text-align: center;
}
p{
    font-weight: bold;
    color: blue;
}

.F-style1{
    font-style: normal;
}
.F-style2{
    font-style:italic;
}
.F-style3{
    font-style:oblique;
}
.F-variant1{
    font-variant: normal;
}
.F-variant2{
    font-variant: small-caps;
}
.F-weight1{
    font-weight: normal;
}
.F-weight2{
    font-weight: bold;
}
.F-weight3-1{
    font-weight:100;
}
.F-weight3-2{
    font-weight:200;
}
.F-weight3-3{
    font-weight:300;
}
.F-weight3-4{
    font-weight:400;
}
.F-weight3-5{
    font-weight:500;
}
.F-weight3-6{
    font-weight:600;
}
.F-weight3-7{
    font-weight:700;
}
.F-weight3-8{
    font-weight:800;
}
.F-weight3-9{
    font-weight:900;
}
.F-size1{
    font-size: 70%;
}
.F-size2{
    font-size: 20px;
}
.F-family1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.F-family2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.F.font1{
    font: italic small-caps bold 25px Georgia, serif;
}
.F-font2{
    font: small-caps;
}
.T-deco1{
    text-decoration: overline;
}
.T-deco2{
    text-decoration: line-through;
}
.T-deco3{
    text-decoration: underline;
}
.T-deco4{
    text-decoration: underline overline;
}
.T-tran1{
    text-transform: uppercase;
}
.T-tran2{
    text-transform: lowercase;
}
.T-tran3{
    text-transform: capitalize;
}
.T-ali1{
    text-align:right;
}
.T-ali2{
    text-align: left;
}
.T-ali3{
    text-align:center;
}
.T-ali4{
    text-align: justify;
}
.T-ind{
    text-indent: 10%;
}
.L-heig{
    line-height:200%;
}
.L-spa{
    letter-spacing: 15px;
}
.W-spa{
    word-spacing: 15px;
}
.V-ali1{
    vertical-align: baseline;
}
.V-ali2{
    vertical-align: text-top;
}
.V-ali3{
    vertical-align: super;
}
.V-ali4{
    vertical-align: text-bottom;
}