body{
    background-color:antiquewhite;
    width: calc(100vh - 60px);
    margin:auto;
    border: groove;
    background-image: url(/img/harley.jpg);
    margin: auto;
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
}
h1{
    text-align: center;
}
h2{
    font-weight: bold;
    color: blue;
}

.contenedor{
    width: 80%;
    height: 50px;
    background-color: greenyellow;
    margin: auto;
}
.contenedor1{
    width: 80%;
    height: 50px;
    background-color:red;
    margin: auto;
    opacity: 0.3;
    text-align: center;
    font-size: 150%;
}
.contenedor2{
    width: 80%;
    height: 50px;
    background-color:rgb(51, 11, 196, 0.3);
    margin: auto;
    text-align: center;
    font-size: 150%;
}
.contenedor3{
    width: 80%;
    height: 50px;
    background-image: url(/img/harley.jpg);
    margin: auto;
}
.contenedor4{
    width: 80%;
    height: 150px;
    background-image: url(/img/harley.jpg);
    margin: auto;
    background-repeat: repeat-y;
}
.contenedor5{
    width: 80%;
    height: 50px;
    background-image: url(/img/harley.jpg);
    margin: auto;
    background-repeat: repeat-x;
}
.contenedor6{
    width: 80%;
    height: 50px;
    background-image: url(/img/harley.jpg);
    margin: auto;
    background-repeat: no-repeat;
}
.contenedor7{
    width: 80%;
    height: 150px;
    background-image: url(/img/harley.jpg);
    margin: auto;
    background-repeat: no-repeat;
    background-position: right top;
}
.contenedor8{
    width: 80%;
    height: 150px;
    background-image: url(/img/harley.jpg);
    margin: auto;
    background-repeat: no-repeat;
    background-position: right bottom;
}
.contenedor9{
    width: 80%;
    height: 150px;
    background-image: url(/img/harley.jpg);
    margin: auto;
    background-repeat: no-repeat;
    background-position: left top;
}
.contenedor10{
    width: 80%;
    height: 150px;
    background-image: url(/img/harley.jpg);
    margin: auto;
    background-repeat: no-repeat;
    background-position: left bottom;
}
.contenedor11{
    width: 80%;
    height: 80px;
    background-image: url(/img/harley.jpg);
    margin: auto;
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: scroll;
}
.contenedor12{
    width: 80%;
    height: 500px;
    margin: auto;
    background:rgba(252, 39, 1, 0.3) url(/img/harley-quinn.jpg) no-repeat right top;
}