body{
    background-color:antiquewhite;
    width: calc(100vh - 60px);
    margin:auto;
    border: groove;
}
h1{
    text-align: center;
}
h2{
    font-weight: bold;
    color: blue;
}

.contenedor{
    width: 50%;
    height: 50px;
    background-color: greenyellow;
    margin: auto;
    border-style: dotted;
}
.contenedor1{
    width: 50%;
    height: 50px;
    background-color: greenyellow;
    margin: auto;
    border-style: dashed;
}
.contenedor2{
    width: 50%;
    height: 50px;
    background-color: greenyellow;
    margin: auto;
    border-style: solid;
}
.contenedor3{
    width: 50%;
    height: 50px;
    background-color: greenyellow;
    margin: auto;
    border-style: double;
}
.contenedor4{
    width: 50%;
    height: 50px;
    background-color: greenyellow;
    margin: auto;
    border-style: groove;
}
.contenedor5{
    width: 50%;
    height: 50px;
    background-color: greenyellow;
    margin: auto;
    border-style: ridge;
}
.contenedor6{
    width: 50%;
    height: 50px;
    background-color: greenyellow;
    margin: auto;
    border-style: inset;
}
.contenedor7{
    width: 50%;
    height: 50px;
    background-color: greenyellow;
    margin: auto;
    border-style: outset;
}
.contenedor8{
    width: 50%;
    height: 50px;
    background-color: greenyellow;
    margin: auto;
    border-style: none;
}
.contenedor9{
    width: 50%;
    height: 50px;
    background-color: greenyellow;
    margin: auto;
    border-style: hidden;
}
.contenedor10{
    width: 50%;
    height: 50px;
    background-color: coral;
    margin: 10px auto;
    border-style: solid;
    border-width: 10px;
}
.contenedor11{
    width: 50%;
    height: 50px;
    background-color: coral;
    margin: 10px auto;
    border-style: dotted;
    border-width: thick;
}
.contenedor12{
    width: 50%;
    height: 50px;
    background-color: coral;
    margin: 10px auto;
    border-style: double;
    border-width: 5px 20px;
}
.contenedor13{
    width: 50%;
    height: 50px;
    background-color: coral;
    margin: 10px auto;
    border-style: solid;
    border-width: 25px 10px 4px 35px;
}
.contenedor14{
    width: 50%;
    height: 50px;
    margin: auto;
    border-style: solid;
    border-color: green;
}
.contenedor15{
    width: 50%;
    height: 50px;
    margin: auto;
    border-style: solid;
    border-color: #8b0000;
}
.contenedor16{
    width: 50%;
    height: 50px;
    margin: auto;
    border-style: solid;
    border-color: rgb(95, 160, 21);
}
.contenedor17{
    width: 50%;
    height: 50px;
    margin: auto;
    border-style: solid;
    border-color: hsl(0, 100%, 50%);
}
.contenedor18{
    width: 50%;
    height: 50px;
    margin: auto;
    background-color: aquamarine;
    border-style: solid;
    border-color: transparent;
}
.contenedor19{
    width: 50%;
    height: 50px;
    margin: auto;
    border-style: solid;
    border-color: red green yellow blue;
}
.contenedor20{
    width: 50%;
    height: 50px;
    margin: auto;
    border: 10px groove blue;
}
.contenedor21{
    width: 50%;
    height: 50px;
    margin: auto;
    border: 5px solid violet;
    border-radius: 15px;
}